<div class="editor">
    <app-header class="top">
        <button class="back" (click)="back()" left><fa-icon [icon]="faChevronLeft"></fa-icon></button>
    </app-header>
    <div class="tools">
        <input [disabled]="!apiService.textSelected" 
                [value]="this.apiService.textSelected?.color ? this.apiService.textSelected?.color : 'black'" 
                (input)="setColor(color.value)" 
                type="color" 
                class="color" 
                #color/>
        <button [disabled]="!apiService.textSelected" 
                (click)="add()">15</button>
        <button [class.selected]="apiService.textSelected && apiService.textSelected.bold" 
                [disabled]="!apiService.textSelected"
                (click)="setBold()">
                <fa-icon [icon]="faBold"></fa-icon></button>
        <button class="accent" (click)="download()"><fa-icon [icon]="faDownload"></fa-icon></button>
    </div>
    <div class="image-container" #container (click)="addText($event)">
        <app-text *ngFor="let text of apiService?.meme?.texts" [text]="text" [ratio]="ratio"></app-text>
        <img [src]="apiService.meme?.image" draggable="false"/>
    </div>
    <div class="tools">
        <div [class.selected]="selectTool === tool" (click)="tool = selectTool"><fa-icon [icon]="faMousePointer"></fa-icon></div>
        <div [class.selected]="addTextTool === tool" (click)="tool = addTextTool">T</div>
        <div><fa-icon [icon]="faLeft"></fa-icon></div>
        <div><fa-icon [icon]="faRight"></fa-icon></div>
    </div>
</div>