<div class="editor">
    <app-header class="top"></app-header>
    <div class="tools">
        <input [class.hide]="!apiService.textSelected" [value]="this.apiService.textSelected?.color ? this.apiService.textSelected?.color : 'black'" (input)="setColor(color.value)" type="color" class="color" #color/>
        <div [class.hide]="!apiService.textSelected" (click)="add()">15</div>
        <div [class.hide]="!apiService.textSelected"><fa-icon [icon]="faBold"></fa-icon></div>
        <div class="accent"><fa-icon [icon]="faShare"></fa-icon></div>
    </div>
    <div class="image-container" #container (click)="addText($event)">
        <app-text *ngFor="let text of apiService?.texts" [text]="text" [ratio]="ratio"></app-text>
        <img [src]="apiService.meme?.image" draggable="false"/>
    </div>
    <div class="tools">
        <div [class.selected]="selectTool === tool" (click)="tool = selectTool"><fa-icon [icon]="faMousePointer"></fa-icon></div>
        <div [class.selected]="addTextTool === tool" (click)="tool = addTextTool">T</div>
        <div><fa-icon [icon]="faLeft"></fa-icon></div>
        <div><fa-icon [icon]="faRight"></fa-icon></div>
    </div>
</div>