$width-resize: 35px;

.text-box {
    width:fit-content;
    position: absolute;
    overscroll-behavior: contain;

    .resize {
        cursor: nwse-resize;
        background-color: transparent;
        border: solid 2px transparent;
        border-radius: 50%;
        position: absolute;
        right: -$width-resize+(-5);
        bottom: -$width-resize+(-5);
        opacity: 0;
    }

    textarea {
        display: block;
        color: rgba(0, 0, 0, 0.87);
        cursor: move;
        padding: 10px;
        font-size: 2rem;
        overflow: hidden;
        background-color: transparent;
        border: none;
        resize: none;
    }

    &.active {
        textarea {
            border: solid 2px white;
            outline: solid 2px rgb(112, 114, 230);
        }

        .resize {
            background-color: rgba(0, 0, 0, 0.493);
            display: flex;
            align-items: center;
            justify-content: center;
            border: solid 2px white;
            outline: solid 2px rgb(112, 114, 230);
            width: $width-resize;
            height: $width-resize;
            opacity: 1;
            .resize-icon {
                color: white;
            }
        }
    }

}