<div class="top">
    <app-header>
        <button class="options" (click)="disconnect()" right>
            <fa-icon [icon]="faRightFromBracket"></fa-icon>
        </button>
    </app-header>
    <h2>Collection</h2>
</div>
<h3>dev : {{dev()}}</h3>
<div class="collection">
    <div *ngIf="memes.length <= 0" class="noMeme">Vous n'avez pas encore créé de meme</div>
    <div (click)="update(meme._id)" *ngFor="let meme of memes">
        <button (click)="remove($event, meme._id)"><fa-icon [icon]="faTrash"></fa-icon></button>
        <img [src]="meme.image">
    </div>
</div>
<button class="create" (click)="createMeme()"><fa-icon [icon]="faPlus"></fa-icon> Créer un meme</button>