$primary: #08234B;
$accent: #6B47B9;
$warn: red;
$light: #EAF5FF;
$background: #EAF5FF;
$shadow: rgba(8, 35, 75, 0.25);

@font-face {
    font-family: 'lexend';
    src: url('./fonts/Lexend-VariableFont_wght.ttf')  format('truetype');
}